<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_category_index') }}">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{{ path('app_home') }}">My Shopping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 text-end">
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if not app.user %}
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                {% else %}
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_cart_index') }}">BASKET</a>
            </li>
        </ul>
    </div>
</nav>